.header-wrapper {
  background-color: #385FAA;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 120px 1fr 120px;
  grid-template-areas: "back logo pokeball";
  position: sticky;
  top: 0;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.4);
  z-index: 10;

  img {
    height: 60px;
    grid-area: logo;

    margin: auto auto;
  }
  span {
    color: white;
    margin: auto;
    a {
      color: #243250;
      &:hover {
        color: lighten(#243250, 10%);
      }
    }
  }
}
