.header-wrapper {
  background-color: #385FAA;
  height: 70px;
  width: 100%;
  display: grid;
  grid-template-columns: 60px 1fr 60px;
  grid-template-areas: "back logo pokeball";
  position: sticky;
  top: 0;
  overflow: hidden;
  box-shadow: 2px 4px 8px rgba(128, 128, 128, 0.4);

  img {
    height: 60px;
    grid-area: logo;

    margin: auto auto;
  }
}
