<ng-container *ngIf="pokemon; else loader">
  <div
    *ngIf="pokemon?.id"
    id="{{pokemon?.id}}"
    class="pokemon-image"
  >
    <img [src]="getPokeImage(pokemon?.id)">
  </div>
  <div class="pokemon-data">
    <div class="name"><span class="pokemon-name">{{pokemon?.name | uppercase}}</span>
      <button *ngIf="router.url !== '/' && !isInStorageFn(pokemon?.id)" class="button" (click)="addToPokeball(pokemon)">
        +
      </button>
    </div>
    <div class="info" *ngIf="router.url !== '/'">
      <div><span class="skill-name">Abilities:</span>
        <ul
          *ngFor="let ability of pokemon.abilities">
          <li>{{ability.ability.name}}</li>
        </ul>
      </div>
      <div><span class="skill-name">Height: </span>{{pokemon.height}}</div>
      <div><span class="skill-name">Base experience: </span>{{pokemon.base_experience}}</div>
      <div><span class="skill-name">Moves: </span>
        <span *ngFor="let move of pokemon.moves">
          {{move.move.name}},
        </span>
      </div>
    </div>
  </div>
</ng-container>
<ng-template #loader>
  <app-loader></app-loader>
</ng-template>

