@import './styles/variables';
@import './styles/reset';
@import '../node_modules/angular2-toaster/src/toaster';

body {
  background-color: $background;
  height: 100vh;
}

.button {
  font-size: 0.9em;
  color: $grey;
  text-transform: uppercase;
  background: $transparent-grey;
  padding: 1.25em;
  border: none;
  border-radius: 0.375em;
  display: inline-block;

  &:hover {
    color: $white;
    background: #ffcb05;
    transition: all 0.4s ease 0s;
    cursor: pointer;
  }
}

a {
  text-decoration: none;
  color: $grey;
  font-weight: bold;

  &:hover {
    color: $blue;
    cursor: pointer;
  }
}

#toaster-container {
  .toast-success {
    background-color: rebeccapurple !important;
  }
}

